<main>
  <div class="crt">
    <pre class="termial">
<code>               *     ,MMM8&&&.            *
                    MMMM88&&&&&    .
                   MMMM88&&&&&&&
       *           MMM88&&&&&&&&
                   MMM88&&&&&&&&
                   'MMM88&&&&&&'
                     'MMM8&&&'      *    
            |\___/|     /\___/\
            )     (     )    ~( .              '
           =\     /=   =\~    /=
             )===(       ) ~ (
            /     \     /     \
            |     |     ) ~   (
           /       \   /     ~ \
           \       /   \~     ~/
 _/\_/\_/\_/\__  _/_/\_/\__~__/_/\_/\_/\_/\_/\_
 |  |  |  |  |( (  |  |  | ))  |  |  |  |  |  |
 |  |  |  |  | ) ) |  |  |//|  |  |  |  |  |  |
 |  |  |  |  |(_(  |  |  (( |  |  |  |  |  |  |
 |  |  |  |  |  |  |  |  |\)|  |  |  |  |  |  |
 |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |
$ echo -n "Wesley DuSell" | xxd -p && echo tech-stack.txt
> 5765736c657920447553656c6c
> <s>OOP</s> "Functional" Software Engineer
> Activity:         TypeScript, RxJS, Angular, NestJS
> AWS:              ECS, EKS, Lambda, Step Funtions, SNS, SQS, DynamoDB
> Instrumentation:  OpenTelemetry, AWS X-Ray, CloudWatch
> CI/CD:            GitHub Actions, GitLab CI, Bamboo
> Monitoring:       Splunk, Grafana, Prometheus, Datadog
$ cd ngx-workshop/ && cat README.md
> A dynamic full-stack workshop platform featuring a CMS, quizzes, and user tracking.
Type 'contact' to get in touch or 'more' to see my projects.
ngx-workshop on main [$] is 📦 v0.0.0 via ⬢ v20.10.0
$ <input autofocus>
      </code>
    </pre>
    <!-- <div class="overlay">MDA</div> -->
  </div>
  <canvas id="heart" width="100" height="100" ></canvas>
</main>